.header{
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : space-evenly;
    height          : 35vh;
    width           : 100%;
}

.title{
    font-size       : 7vw;
    text-transform  : uppercase;
    font-family     : 'Montserrat', sans-serif;
}

.inputs{
    width           : 100%;
    display         : flex;
    justify-content : space-around;
}

.select{
    width           : 43%;
}
.search{
    width           : 43%;
}